<html>
<style>
    .jumbotron{
        height:100%;
    }
    .centerdiv{        
        width: 100%;
        margin: 0 auto;
    }
</style>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron d-flex align-items-center">
        <div class="container">
            <div class="centerdiv">
                <h3 class="col-2 offset-md-3">Login</h3>
                <p></p>
            <div>
                <label class="col-1">Username</label>
                <input type="text" class="col-6"/>
            </div>
            <div>
                <label class="col-1">Password</label>
                <input type="password" class="col-6"/>
            </div>
            <div>
                <a href="index" class="col-2 offset-md-3 btn btn-primary">Login</a>
            </div>
            </div>
        </div>
    </div>
</body>

</html>